<!-- templates/login.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Login - Your App</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST">
        <label>Username:</label>
        <input type="text" name="username"><br>
        <label>Password:</label>
        <input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li class="flash-message {{ message|split(':')[0] }}">{{ message|split(':')[1] }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <a href="{{ url_for('dashboard') }}">Go to Dashboard</a>
</body>
</html>
