<!DOCTYPE html>
<html>
<head>
    <title>Login - Your App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Login</h1>
    <form method="POST">
        <label>Username:</label>
        <input type="text" name="username"><br>
        <label>Password:</label>
        <input type="password" name="password"><br>
        <label>TOTP Code:</label>
        <input type="text" name="totp_code"><br>
        <input type="submit" value="Login">
    </form>
    <a href="{{ url_for('dashboard') }}">Go to Dashboard</a>
</body>
</html>
